<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

<% @recipe.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>

<p><%= link_to "Delete", recipe_path(@recipe), method: :delete %></p>
<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>

<%= link_to "Back to All Recipes", recipes_path %>
